p {
  font-weight: bold;
  font-size: 1.5em;
  clear: both;
}

input[type="button"] {
  display: inline-block;
  margin-bottom: 3px;
  background-color: #259f0f;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 15px;
  margin-left: 7%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  width: 60%;
  margin-bottom: 10px;
  padding: 12px 20px;
  border: 1.5px solid #676867;
  background-color: #e6e6e6;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

input[type="button"]:hover {
  background-color: #57d341;
}

.first {
  width: 15%;
  float: left;
  margin-top: 6px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.second {
  margin-top: 6px;
  width: 75%;
  float: left;
  font-weight: bold;
}
